/* liststyle.css */
body {
  font-family: 'Arial', sans-serif; 
  background-color: #f4f4f4; 
  color: #333; 
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #4A90E2; /* Soft blue for headings */
}

/* Card styles for individual events */
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  padding: 20px;
  border: 3px solid;
  transition: all 0.3s; 
  max-width: 35%;
}

.card:hover {
  transform: translateY(-3px); /* Lift effect on hover */
}

/* Style for event details inside the card */
.event-info {
  margin: 5px 0;
  font-size: 16px;
}

.event-info strong {
  color: #333; /* Strong color for labels */
}

.event-color {
  font-weight: bold;
  color: #666; /* Subdued color for the color tag */
}

/* Button styles */
.button {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  background-color: #4A90E2;
  color: white;
  outline: none;
}

.button:hover {
  background-color: #357ABD; /* Darker shade on hover */
}

.button-group {
  display: flex;
  justify-content: flex-end; /* ボタンを右下に寄せる */
  gap: 10px; /* ボタン間の隙間 */
}

.cancel-button {
  background-color: #b0b0b0; /* キャンセルボタンの色を薄い灰色に */
  color: #212529; /* 文字色を黒に */
}

.cancel-button:hover {
  background-color: #c0c0c0; /* ホバー時の色を少し濃く */
}

.button-back {
  position: fixed; 
  right: 20px;  
  bottom: 20px;    
  z-index: 1000; 
}

/* Input styles for editing */
.input {
  padding: 8px;
  margin: 5px 0;
  border: 2px solid #ddd; /* Subtle border */
  border-radius: 4px;
  width: calc(100% - 22px); /* Full-width minus padding and border */
}

.input:focus {
  border-color: #4A90E2; /* Focus color to match the theme */
}
