#calendar {
    max-width: 100%; 
    height: auto; 
    max-height: 100vh; 
    overflow: auto; 
}

body {
    font-family: Arial, sans-serif; 
    background-color: #f4f4f4; 
    color: #4A90E2;
}

.fc .fc-toolbar-title {
    font-size: 32px;
    color: #4A90E2; 
}

.fc .fc-daygrid-day-number {
    color: #4A90E2;
}

.fc .fc-button {
    color: white !important;
    background-color: #4A90E2 !important;
    border-color: #4A90E2 !important;
}

.fc .fc-button:hover {
    background-color: #357ABD !important; 
    border-color: #357ABD !important; 
}

.fc .fc-daygrid-day {
    border: 1px solid #d3d3d3; 
}

.fc .fc-daygrid-day:nth-child(7n+1) .fc-daygrid-day-number {
    color: #e14c4c;
}

.fc .fc-col-header-cell:nth-child(1) .fc-col-header-cell-cushion {
    color: #e14c4c;
}

.notification {
    background-color: #4CAF50; 
    color: white;
    padding: 15px;
    position: fixed;
    top: 20px;
    right: 20px;
    text-align: center;
    border-radius: 5px;
    display: none;
    z-index: 1050;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}